
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    color: rgb(0, 0, 0);
}

header {
    background-color: #016eb6;
    text-align: center;
    padding: 10px;
    justify-content: center;
    color: #f5f2f2;
    display: flex;
    gap: 50px;
    align-items: center;
}

header h1 {
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(22, 0, 146, 0.264);
    font-family: "Cookie", cursive;
    font-size: 60px;
}

.menu {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    height: 25px;
}

.menu ul {
    list-style: none;
    display: flex;
    text-decoration: none;
    gap: 55px;
    height: 100%;
}

.menu li {
    text-align: center;
}

.menu a {
    text-decoration: none;
    display: block;
    color: white;

}

.menu a:hover {
    background-color: #000080;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}


header img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin-top: 20px;
}

main img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-top: 20px;
}

main {
    padding: 0;
    justify-content: center;
    text-align: center;
    margin: 0;
}

main h2 {
    margin-top: 5px;
    border-bottom: #000080 solid 2px;
    padding: 25px;
    font-size: 30px;
}

main h3 {
    padding:15px;
    border-bottom: #000080 solid 2px;
}

main p {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;

}

footer {
    background-color: #016eb6;
    text-align: center;
    padding: 10px;
    justify-content: center;
    color: white;
    height: 100%;
}

footer h1 {
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(22, 0, 146, 0.264);
}

.foot {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    height: 25px;
}

.foot ul {
    list-style: none;
    display: flex;
    text-decoration: none;
    gap: 55px;
    height: 100%;
}

.foot li {
    text-align: center;
}

.foot a {
    text-decoration: none;
    display: block;
    color: white;

}

.foot a:hover {
    background-color: #000080;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

.btn {
    background-color: #4282ac;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 100px;
}

.enviar {
    background-color:#016eb6;
    width: 30%;
    font-weight: 800;
}

.btn a {
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: #000080;
}

h2 {
    text-align: center;
    padding-top: 2rem;
}

form {
    color: white;
    border-radius: 10px;
    margin: 30px;
    justify-content: center;
    text-align: center;
    background-color: #4282ac;
    padding-top: 30px;
    padding-bottom: 30px;
}

input {
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #e1d1d1;
    border-radius: 8px;
    width: 1300px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #97b1d2;
    color: white;
}


input::placeholder {
    opacity: 0.5;
    color: white;
}

input:focus {
    border-color: #040402;
    box-shadow: 0 0 5px #000000;
}

select {
    background-color: #a1a6d2;
    color: white;
    border: 1px solid #e1d1d1;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #016eb6;
    color: white;
    border: 1px solid #e1d1d1;
    border-radius: 8px;
    padding: 10px;
    width: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #000080;
}

.destinos {
  display: flex;
  gap: 30px;
  padding: 20px;
  margin: auto;
}

card1, card2, card3, card4, card5, card6 {
  width: 100%;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 2rem;
}

card1 img, card2 img, card3 img, card4 img, card5 img, card6 img {
  width: 100%;
  height: 160px;
  padding-top: 1rem;
}

card1 h3, card2 h3, card3 h3, card4 h3, card5 h3, card6 h3 {
  margin: 10px 0 5px;
  font-size: 1.2em;
  color: #016eb6;
}

card1 p, card2 p, card3 p, card4 p, card5 p, card6 p {
  margin-bottom: 15px;
  color: #444;
}

.busca{
    padding-top: 3rem;
}

.destinos {
    margin: 0;
    border-top: #171f65 solid 2px;
}

.trip {
    margin: 0.5rem;
    padding: 0;
    text-align: center;
}

@media (max-width: 700px) {

    header,
    .menu,
    .foot {
        flex-direction: column;
        gap: 20px;
    }

    header img {
        width: 150px;
        height: auto;
    }

    main img {
        width: 100%;
        height: auto;
    }

    footer {
        height: 100%;
    }

    input {
        width: 500px;
    }

    .destinos {
        flex-direction: column;
        align-items: center;
    }
    card1, card2, card3, card4, card5, card6 {
        width: 80%;
    }
}